# Python
__pycache__/
*.py[codz]
*.so
*.egg-info/
*.egg
dist/
build/

# Testing
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
.hypothesis/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*.db
staticfiles/

# Env
.env
.envrc
.venv
venv/
env/

# Type checkers / linters
.mypy_cache/
.ruff_cache/
.pytype/
.pyre/

# Editors
.idea/
.vscode/
tempCodeRunnerFile.py

# OS
.DS_Store
backups/
